.footer {
  padding: 70px 3rem;
  background-color: #fff;
}

.footer__wrapper {
  max-width: 1800px;
  margin: auto;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.footer__col ul {
  list-style: none;
}

.footer__col {
  width: 25%;
  padding: 0 15px;
}

.footer__col h3 {
  font-size: 18px;
  color: #fff;
  color: #000;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer__col h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--orange);
  height: 2px;
  width: 50px;
}

.footer__col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer__col ul li a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: var(--darkgray);
  display: block;
  transition: all 0.3s ease;
}

.footer__col ul li a:hover {
  padding-left: 8px;
}

.footer__col .social__links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff33;
  background-color: var(--orange);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer__col .social__links a:hover {
  color: #24262b;
}

@media (max-width: 768px) {
  .footer__col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .footer__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__col ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__col h3::before {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
