@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("hero.css");
@import url("map.css");
@import url("certificates.css");
@import url("questions.css");
@import url("environment.css");
@import url("clients.css");
@import url("contact.css");
@import url("mosaic.css");
@import url("footer.css");

:root {
  --orange: #fb6c0d;
  --darkgray: #383838;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--darkgray);
}

.hero::before,
.orange-col::before,
.dark-col::before {
  -webkit-appearance: none;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@supports (-webkit-touch-callout: none) {
  .hero::before,
  .orange-col-1::before,
  .orange-col-2::before,
  .orange-col-3::before,
  .dark-col-1::before,
  .dark-col-2::before {
    background-attachment: scroll;
  }
}

@supports not (-webkit-touch-callout: none) {
  .hero::before,
  .orange-col-1::before,
  .orange-col-2::before,
  .orange-col-3::before,
  .dark-col-1::before,
  .dark-col-2::before {
    background-attachment: fixed;
  }
}
