.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #000;
  max-height: 800px;
  margin: auto;
}

.hero > div {
  align-items: center;
}

.hero::before {
  content: "";
  background: url(../assets/img/heroBg.jpeg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 70px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 1rem 0;
}

.navbar__brand img {
  height: 50px;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.navbar__menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.navbar__link {
  position: relative;
  text-decoration: none;
  color: var(--darkgray);
  color: #fff;
  font-weight: 600;
  font-size: 1.05rem;
}

.navbar__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--orange);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.navbar__link:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.navbar__link:hover {
  transition: all 0, 2 ease-out;
}

.menu-toggle .hamburger {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--orange);
}

.cta {
  position: relative;
  align-self: flex-start;
  height: 500px;
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  max-width: 1800px;
  margin: 3rem auto;
}

.cta__info {
  width: 50%;
  text-align: center;
  color: #fff;
  margin-right: 2rem;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}

.cta__title {
  background: var(--orange);
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: transparent;
}

.hero__divider {
  position: relative;
  top: -1rem;
  left: 0px;
  height: 0.3rem;
  width: 6rem;
  align-self: flex-start;
  background-color: #fff;
}

.cta__info h1 {
  font-size: 3.5rem;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

/* .cta__img {
  width: 900px;
  height: 90%;
  align-self: center;
  justify-self: center;
} */

/* .cta__img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
} */

.cta__btn {
  margin-top: 1.1rem;
  background: var(--orange);
  width: 15rem;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  align-self: flex-start;
  margin-left: 0.5rem;
  text-align: center;
}

@media (max-width: 1100px) {
  /* .cta__img {
    height: 60%;
    width: 600;
  } */

  /* .cta__title {
    padding: 1rem;
  } */

  .cta__info {
    margin-left: 2rem;
  }

  .cta__info h1 {
    font-size: 2.5rem;
  }

  .hero__divider {
    top: -0.5rem;
    width: 5rem;
  }

  .cta__btn {
    font-size: 1rem;
    width: 10rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--orange);
    margin: 0;
    width: 100%;
    height: 380px;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .navbar__brand {
    margin-left: 20px;
  }

  .navbar__menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar__link {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
    color: #fff;
  }

  .navbar__link::before {
    background-color: #fff;
  }

  .navbar__link:hover {
    background-color: var(--darkgray);
    color: #fff;
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  #nav__hamburger {
    position: absolute;
    top: 12px;
    right: 5%;
    transform: translate(5%, 40%);
  }

  .menu-toggle .hamburger {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #nav__hamburger.is-active .hamburger:nth-child(2) {
    opacity: 0;
  }

  #nav__hamburger.is-active .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #nav__hamburger.is-active .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar.navbar-active {
    transition: all 0.5s ease;
    background: #fff;
    position: relative;
  }

  .cta__info {
    margin-bottom: 5rem;
  }

  .hero__divider {
    height: 4px;
    background-color: #fff;
    top: -0.6rem;
  }

  .cta__title {
    background-color: transparent;
    text-align: left;
    padding-left: 0;
  }

  .cta__title h1 {
    font-size: 2.5rem;
  }

  .cta__btn {
    margin-top: 0rem;
    margin-left: 0;
    width: 10rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  /* .cta__img {
    display: none;
  } */

  /* .cta {
    flex-direction: column;
  } */
}

@media (max-width: 525px) {
  .cta__info {
    width: 70%;
    margin-left: 0rem;
  }

  .cta__title h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 425px) {
  .navbar__menu {
    height: 410px;
  }
}

@media (max-width: 365px) {
  .cta__title h1 {
    font-size: 1.9rem;
  }

  .cta__btn {
    width: 8rem;
    font-size: 0.8rem;
  }
}
